.container {
  @apply max-w-7xl m-auto
}

.nav-item > li:after {
    content: "";
    @apply block w-0 h-[2px] bg-text1 transition-all duration-300;
  }

  .nav-item > li:hover::after {
    @apply w-full;
}

.card_icon {
  position: absolute;
  right: 8px;
  font-size: 20px;
  color: black;
}