@import "tailwindcss";
@import "./styles/main.css";

@theme {
  /* Color */
  --color-secondary: #F5F5F5;
  --color-secondary2: #DB4444;
  --color-text1: #7D8184;
  --color-button1: #00FF66;
  --color-button2: #DB4444;
  --color-star: #FFAD33;
  --color-arrival-bg: #0D0D0D;

  /* Sizes */

  --width-discount: 45px;
  --width-card-image: 250px;
  --width-product-image: 400px;
  --width-custom-button: 234px;
  --width-plus-minus: 41px;
  --width-basket-image: 108px;
  --max-width-basket: 350px;
  --max-width-basket-footer: 400px;

  /* Hover */

  --color-hover-button: #E07575;
  
}